*{
	margin:0;
	padding:0;
	box-sizing:border-box; 
}


body{
}

.main{
    background:white;
	width:100%;
	height:120px;
	padding: 15px 20px;
}

nav > ul{
	display:flex;
	justify-content:space-between;
	margin:10px;


}

nav > ul > li{
	list-style: none;
}

#top{
	display:flex;
	justify-content:space-between;
	align-items: center;
}

.search-container{
	width:80%;
	border:2px solid black;
	background-color: white;
	height:50px;
	border-radius: 30px;
	padding-right:20px;
	padding-left:20px;
	overflow:hidden;

}

.search-container input{
	background-color: white;
	width:98%;
	height:50px;
	border:0;
	outline:0;
}

#top button{
	border:0;
	background:white;

}
#top button:hover{
	background-color:blue;
	height:20px;
	width:20px;
	border-radius:10%;
}

#top > h1{
	color: orange;
	font-weight: bold;
}

#second-line{
	background:#ddebe3;
	width:100%;
	height:300px;
}

#second-line  h2{
	text-align:center;
	padding:24px 12px 18px;
	font-size: 55px;
	font-weight:normal;
}



#contain{
	background-color:;
	height:150px;
	display:flex;
	justify-content:center;
	margin-top:50px;

}

 #circle1{
	background:;
	height:100%;
	width:140px;
	margin-left:50px;
	margin-right:30px;

	
}

#circle2{
	background:;
	height:100%;
	width:140px;
	margin-right:30px;
	
}



#circle3{
	background:;
	height:100%;
	width:140px;
	margin-right:30px;
	
}

#circle4{
	background:;
	height:100%;
	width:140px;
	margin-right:30px;
}
	

#circle5{
	background:;
	height:100%;
	width:140px;
	margin-right:30px;
	
}

#circle6{
	background:;
	height:100%;
	width:140px;
	margin-right:30px;
	
}

#inner-circle1{
height:90%;
width:100%;
border-radius:50%;
background:;
position:relative;
}

#inner-circle2{
height:90%;
width:100%;
border-radius:50%;
background:;
position:relative;
	
}

#inner-circle3{
height:90%;
width:100%;
border-radius:50%;
background:;
position:relative;	
}

#inner-circle4{
height:90%;
width:100%;
border-radius:50%;
background:;
position:relative;	
}

#inner-circle5{
height:90%;
width:100%;
border-radius:50%;
background:;
position:relative;	
}

#inner-circle6{
height:90%;
width:100%;
border-radius:50%;
background:;
position:relative;	
}

#circle1 p{
	text-align:center;
}

#circle2 p{
	text-align:center;
}

#circle3 p{
	text-align:center;
}

#circle4 p{
	text-align:center;
}

#circle5 p{
	text-align:center;
}

#circle6 p{
	text-align:center;
}

#inner-circle1 img{
height:100%;
width:100%;
position:absolute;
object-fit:cover;
border-radius:50%;
}

#inner-circle2 img{
height:100%;
width:100%;
position:absolute;
object-fit:cover;
border-radius:50%;
}

#inner-circle3 img{
height:100%;
width:100%;
position:absolute;
object-fit:cover;
border-radius:50%;
}

#inner-circle4 img{
height:100%;
width:100%;
position:absolute;
object-fit:cover;
border-radius:50%;
}

#inner-circle5 img{
height:100%;
width:100%;
position:absolute;
object-fit:cover;
border-radius:50%;
}

#inner-circle6 img{
height:100%;
width:100%;
position:absolute;
object-fit:cover;
border-radius:50%;
}

#kontain{
	background:;
	height:400px;
	width:100%;
	margin-top:150px;
	}

#kontain h3{
	padding-left:30px;
}

#div{
	display:flex;
	height:370px;
	width:100%;
	background:;
	margin-right:5px;
	flex-wrap:wrap;
}

#div1{
	background:;
	height:45%;
	width:240px;
	margin-left:31px;
	margin-right:20px;
	background-image: url(../img/wallet/1.jpg);
	background-size: cover;
	border-radius:10px;
}

#div2{
	background:;
	height:45%;
	width:240px;
	margin-right:20px;
	background-image:url(../img/wallet/2.jpg);
	background-size: cover;
	border-radius:10px;
}

#div3{
	background:;
	height:45%;
	width:240px;
	margin-right:20px;
	background-image: url(../img/wallet/3.jpg);
	background-size: cover;
	border-radius:10px;
}

#div4{
	background:;
	height:45%;
	width:240px;
	margin-right:20px;
	background-image: url(../img/wallet/4.jpg);
	background-position:center;
	border-radius:10px;
	
}


#div5{
	background:;
	height:45%;
	width:240px;
	background-image: url(../img/wallet/5.jpg);
	background-position:center;
	border-radius:10px;
}

#div6{
	background:;
	height:45%;
	width:240px;
	margin-left:31px;
	margin-right:20px;
	background-image: url(../img/wallet/6.jpg);
	background-position:center;
	border-radius:10px;
}

#div7{
	background:;
	height:45%;
	width:240px;
	margin-right:20px;
	background-image: url(../img/wallet/7.jpg);
	background-position:center;
	border-radius:10px;
}

#div8{
	background:;
	height:45%;
	width:240px;
	margin-right:20px;
	background-image: url(../img/wallet/8.jpg);
	background-position:center;
	border-radius:10px;
}

#div9{
	background:;
	height:45%;
	width:240px;
	margin-right:20px;
	background-image: url(../img/wallet/9.jpg);
	background-position:center;
	border-radius:1/0px;
}

#div10{
	background:;
	height:45%;
	width:240px;
	background-image: url(../img/wallet/10.jpg);
	background-position:center;
	border-radius:10/px;
}

#div1 button,#div2 button,#div3 button,#div4 button ,#div5 button,#div6 button,#div7 button,#div8 button,#div9 button,#div10 button{
	margin-top:140px;
	margin-left:8px;
	border-radius:29%;
	width:100px;
	height:25px;
	border:0;
}

#third-line{
	background:;
	margin-top:60px;
	width:100%;
	height:200px;
}

#third-line> p{
	font-size:60px;
	text-align: center;
}

#inner-third-line{
	background:;
	height:85%;
	margin-top:10px;
	display:flex;
	justify-content:space-around;
	padding-left:150px;
	padding-right:150px;
	
}

#third-line-circle1{
background:white;
height:70%;
width:120px;
border-radius:50%;
background-image:url(../img/wallet/11.jpg);
background-size: cover;


}
#third-line-circle2{
background:green;
height:70%;
width:120px;
border-radius:50%;
background-image:url(../img/wallet/12.jpg);
background-size: cover;
}

#third-line-circle3{
background:blue;
height:70%;
width:120px;
border-radius:50%;
background-image:url(../img/wallet/13.jpg);
background-size: cover;
}

#third-line-circle4{
background:white;
height:70%;
width:120px;
border-radius:50%;
background-image:url(../img/wallet/14.jpg);
background-size: cover;
}

#third-line-circle5{
background:green;
height:70%;
width:120px;
border-radius:50%;
background-image:url(../img/wallet/15.jpg);
background-size: cover;
}
#third-line-circle6{
background:blue;
height:70%;
width:120px;
border-radius:50%;
background-image:url(../img/wallet/16.jpg);
background-size: cover;
}

.text{
text-align:center;
font-size:18px;
}

#fourth-line{
	background:;
	height:640px;
	width:100%;
	margin-top:50px;
}

#fourth-line-container{

    display:flex;
	height:650px;
	width:100%;
	background:;
	flex-wrap:wrap;
}

#fourth-line-square1{
background:green;
height:200px;
width:300px;
margin-left:40px;
margin-right:20px;
position:relative;
border-radius:10px;

}

#fourth-line-square2{
background:blue;
height:350px;
width:300px;
margin-right:20px;
border-radius:10px;	
background-image:url(../img/wallet/21.jpg);
background-size: cover;
background-position: center;
}

#fourth-line-square3{
background:red;
height:200px;
width:300px;
margin-right:20px;	
border-radius:10px;
background-image:url(../img/wallet/19.jpg);
background-size: cover;
background-position: center;

}

#fourth-line-square4{
background:green;
height:350px;
width:300px;
margin-right:40px;	
border-radius:10px;
background-image:url(../img/wallet/22.jpg);
background-size: cover;
background-position: center;
}

#fourth-line-square5{
background:pink;	
height:350px;
width:300px;
margin-top:-230px;
margin-left:40px;
margin-right:20px;
border-radius:10px;
background-image:url(../img/wallet/19.jpg);
background-size: cover;
background-position: center;
}

#fourth-line-square6{
background:purple;
height:200px;
width:300px;
margin-right:20px;
margin-top: -78px;
border-radius:10px;
position:relative;

}

#fourth-line-square7{
background:blue;
height:350px;
width:300px;
margin-top:-230px;	
margin-right:20px;
border-radius:10px;
background-image:url(../img/wallet/19.jpg);
background-size: cover;
background-position: center;
}

#fourth-line-square8{
background:white;
height:200px;
width:300px;
margin-top:-80px;	
border-radius:10px;
background-image:url(../img/wallet/21.jpg);
background-size: cover;
background-position: center;
}

#fourth-line-square1 video{
	width:100%;
	height:100%;
	object-fit:cover;
	position:absolute;
	border-radius:10px;
}

#fourth-line-square6 video{
	width:100%;
	height:100%;
	position:absolute;
	object-fit:cover;
	border-radius:10px;
}

#fifth{
	background:;
	height:350px;
	width:93%;
	margin:45px;
}

#inner-fifth{
	background:;
	height:85%;
	margin-top:15px;
	width:100%;
	display:flex;
	justify-content:space-around;
}

#inner-fifth1{
	background:white;
	height:200px;
	width:235px;
	margin-right:17px;
	border-radius:7px;
	background-image:url(../img/wallet/new2.jpg);
	background-position: center;



}

#inner-fifth2{
background:yellow;
	height:200px;
	width:235px;
	margin-right:17px;
	border-radius:7px;
	background-image:url(../img/wallet/new1.jpg);
	background-position: center;

}

#inner-fifth3{
background:pink;
	height:200px;
	width:235px;
	margin-right:17px;
	border-radius:7px;
	background-image:url(../img/wallet/new3.jpg);
	background-position: center;
}

#inner-fifth4{
background:brown;
	height:200px;
	width:235px;
	margin-right:17px;
	border-radius:7px;
	background-image:url(../img/wallet/new4.jpg);
	background-position: center;
	
}

#inner-fifth5{
background:green;
	height:200px;
	width:235px;
	border-radius:7px;
	background-image:url(../img/wallet/new5.jpg);
	background-position: center;

}

#sixth{
	background:;
	width:93%;
	height:500px;
	margin-left:45px;
}

#sixth-text{
	display:flex;
	padding-top:30px;
	justify-content: space-between;
}

#sixth> p{
	font-size:30px;
	font-weight:bold;
}

.sixthp{
font-size:25px;	
}

#sixthpi{
	border-bottom:3px solid black;
	transform: translateY(3px);
	padding-left:15px;
}

#sixthpi2{
	padding-right:10px;
}

#inner-sixth{
  background:;
	height:85%;
	margin-top:15px;
	width:100%;
	display:flex;
	flex-wrap:wrap;
	}

#inner-sixth1{
background:brown;
height:304px;
width:400px;
margin-right:24px;
border-radius:8px;
background-image:url(../img/wallet/few.jpg);
background-size: cover;
}

#inner-sixth2{
background:pink;
height:140px;
width:190px;
margin-right:24px;
border-radius:8px;
background-image:url(../img/wallet/few1.jpg);
background-size: cover;

}

#inner-sixth3{
background:orange;
height:304px;
width:400px;
margin-right:24px;
border-radius:8px;
background-image:url(../img/wallet/few3.jpg);
background-size: cover;

}

#inner-sixth4{
background:pink;
height:140px;
width:190px;
border-radius:8px;
background-image:url(../img/wallet/few4.jpg);
background-size: cover;
}

#inner-sixth5{
background:red;
height:140px;
width:190px;
margin-left:424px;
margin-top:-180px;
border-radius:8px;
background-image:url(../img/wallet/few2.jpg);
background-size: cover;


}

#inner-sixth6{
background:green;
height:140px;
width:190px;
margin-left:1063px;
margin-top:-223px;
border-radius:8px;
background-image:url(../img/wallet/few6.jpg);
background-size: cover;

}

#seventh{
	background:;
	width:93%;
	height:400px;
	margin-top:40px;
	margin-left:50px;
}

#seventh1{
	display:flex;
	align-items:center;
}

#seventh1 i{
padding-left:10px;
}

#inner-seventh{
	display:flex;
}

#inner-seventh1{
	background:pink;
	width:230px;
	height:240px;
	margin-right:25px;
	background-image:url(../img/wallet/line.webp);
     background-size: cover;
     background-position: center;

}

#inner-seventh2{
	background:blue;
	width:230px;
	height:240px;
	margin-right:25px;
	background-image:url(../img/wallet/2.jpg);
    background-size: cover;
    background-position: center;

}

#inner-seventh3{
	background:yellow;
	width:230px;
	height:240px;
	margin-right:25px;
	background-image:url(../img/wallet/line3.webp);
    background-size: cover;
    background-position: center;

}

#inner-seventh4{
	background:white;
	width:230px;
	height:240px;
	margin-right:25px;
	background-image:url(../img/wallet/line2.webp);
    background-size: cover;
    background-position: center;

}

#inner-seventh5{
	background:red;
	width:230px;
	height:240px;
	background-image:url(../img/wallet/line4.webp);
    background-size: cover;
    background-position: center;
 

}

#inner-seventh1p h1{
text-align:center;
background: white;
width:230px;
height:70px;
border:1px solid grey;

}

#inner-seventh2p h1{
text-align:center;
background: white;
width:230px;
height:70px;
border:1px solid grey;

}

#inner-seventh3p h1{
text-align:center;
background: white;
width:230px;
height:70px;
border:1px solid grey;

}

#inner-seventh4p h1{
text-align:center;
background: white;
width:230px;
height:70px;
border:1px solid grey;

}

#inner-seventh5p h1{
text-align:center;
background:white;
width:230px;
height:70px;
border:1px solid grey;

}

#Eight{
	background: #FDEBD2;
	width:100%;
	height:600px;
	margin-top:40px;
}

#Eight > h1{
	text-align:center;
	font-size:50px;
	padding-top:30px;
	font-weight:70;
}

#Eight > p{
   text-align:center;
   border-bottom:1px solid black;
   width:220px;
   margin:auto;
}

#article{
	background:;
	width:100%;
	height:500px;
	margin-top:50px;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	padding-left:28px;
}

#article1{
	background:;
	width:420px;
	height:300px;
	margin-right:20px;
}

#article2{
	background:;
	width:420px;
	height:300px;
	margin-right:20px;
}

#article3{
	background:;
	width:420px;
	height:300px;
	margin-right:20px;
}


#article4{
	background:;
	width:500px;
	height:200px;
	margin-left:-20px;
	margin-top:-10px;
}

#article4 button{
	width:180px;
	margin-left:150px;
	margin-top:8px;
	height:50px;
	border-radius:20px;
	border:2px solid black;
	font-weight:1000;
	background:#FDEBD2; 

}

article  h2{
	font-weight:1000px;
}

.sly{
	font-size:30px;
}

.sly1{
	line-height: 40px;
	font-size:18px;
}

#article4 p{
	font-size:25px;
}

#ninth{
	background:#d7e6f5;
	height:180px;
	width:100%;
}

#ninth h3{
	text-align:center;
	padding-top:50px;
}

#ninth input{
	width:500px;
	height:50px;
	margin-left:410px;
	border-radius:30px;
	margin-top:25px;
	border:1px solid grey;
	padding-left:3px;
}

#submit button{
	margin-left:-90px;
	font-size: 16px;
	font-weight:9;
	border:0;
	background:white;
}

#tenth{
	background:#4d6bc6;
	height:70px;
	width:100%;
}

#tenth h3{
	color:white;
	text-align:center;
	border-bottom:3px dotted white;
	width:350px;
	margin:auto;
	padding-top:30px;
}

#eleventh{
	background:#2f466c;
	width:100%;
	height:380px;
}

#inner-eleventh{
	display:flex;
	justify-content:space-around;
}

#eleventh  ul li{
	list-style-type:none;
	color:white;
	line-height: 20px;
	margin-top:20px;
}

#inner-eleventh1 {
	margin-left:-100px;
}

.in{
	font-weight:bold;
	font-size: 18px;
}

#inner-eleventh4{
	background:;
	height:232px;
	width:285px;
	margin-right:-15px;
}

#inner-eleventh4 button{
	width:95%;
	height:40px;
	border-radius:20px;
	border:2px solid white;
	background:none;
	color:white;
	margin-top:20px;
	font-size:17px;

}

#inner-eleventh4 button i{
	margin-left:-30px;
	background:white;
	color:black;
	height:20px;
	width:20px;
}

#inn{
	margin-left:13px;
}

#nit{
	
	margin-top:20px;
	width:40px;
	height:40px;
	color:white;
	font-size:30px;
	margin-right:13px;
}

#nit1{
	background:;
	margin-top:20px;
	width:40px;
	height:40px;
	color:white;
	font-size:30px;
	margin-right:13px;
}

#nit2{
	background:;
	margin-top:20px;
	width:40px;
	height:40px;
	color:white;
	font-size:30px;
	margin-right:13px;
}
#nit3{
	background:;
	margin-top:20px;
	width:40px;
	height:40px;
	color:white;
	font-size:30px;
	margin-right:13px;
}
#nit4{
	background:;
	margin-top:20px;
	width:40px;
	height:40px;
	color:white;
	font-size:30px;
	margin-right:13px;
}

#footer{
	background: #00008b;
	width:100%;
	height:85px;
	
}

#footer1 button{
	width:300px;
	height:50px;
	margin-top: 15px;
	color:white;
	font-weight:bold;
	border-radius: 15px;
	background: none;
	margin-left: -15px;
	border:0;

}

#ft{
	color:white;
	margin-left:600px;
}

#footer1 span{
	margin-right: 13px;
	
}
