*{
	margin:0;
	padding:0;
	box-sizing:border-box; 
}


body{
}

.main{
    background:white;
	width:100%;
	height:120px;
	padding: 15px 20px;
}

nav > ul{
	display:flex;
	justify-content:space-between;
	margin:10px;


}

nav > ul > li{
	list-style: none;
}

#top{
	display:flex;
	justify-content:space-between;
	align-items: center;
}

.search-container{
	width:80%;
	border:2px solid black;
	background-color: white;
	height:50px;
	border-radius: 30px;
	padding-right:20px;
	padding-left:20px;
	overflow:hidden;

}

.search-container input{
	background-color: white;
	width:98%;
	height:50px;
	border:0;
	outline:0;
}

#top button{
	border:0;
	background:white;

}
#top button:hover{
	background-color:blue;
	height:20px;
	width:20px;
	border-radius:10%;
}

#top > h1{
	color: orange;
	font-weight: bold;
}

#main{
	background: #ffeff5;
	width:100%;
	height:1500px;
	border-top:2px solid pink;
	display:flex;
}

#main h1{
	margin-top:30px;
	margin-left:150px;
	font-size:25px;
}


















#ninth{
	background:#d7e6f5;
	height:180px;
	width:100%;
}

#ninth h3{
	text-align:center;
	padding-top:50px;
}

#ninth input{
	width:500px;
	height:50px;
	margin-left:410px;
	border-radius:30px;
	margin-top:25px;
	border:1px solid grey;
	padding-left:3px;
}

#submit button{
	margin-left:-90px;
	font-size: 16px;
	font-weight:9;
	border:0;
	background:white;
}

#tenth{
	background:#4d6bc6;
	height:70px;
	width:100%;
}

#tenth h3{
	color:white;
	text-align:center;
	border-bottom:3px dotted white;
	width:350px;
	margin:auto;
	padding-top:30px;
}

#eleventh{
	background:#2f466c;
	width:100%;
	height:380px;
}

#inner-eleventh{
	display:flex;
	justify-content:space-around;
}

#eleventh  ul li{
	list-style-type:none;
	color:white;
	line-height: 20px;
	margin-top:20px;
}

#inner-eleventh1 {
	margin-left:-100px;
}

.in{
	font-weight:bold;
	font-size: 18px;
}

#inner-eleventh4{
	background:;
	height:232px;
	width:285px;
	margin-right:-15px;
}

#inner-eleventh4 button{
	width:95%;
	height:40px;
	border-radius:20px;
	border:2px solid white;
	background:none;
	color:white;
	margin-top:20px;
	font-size:17px;

}

#inner-eleventh4 button i{
	margin-left:-30px;
	background:white;
	color:black;
	height:20px;
	width:20px;
}

#inn{
	margin-left:13px;
}

#nit{
	
	margin-top:20px;
	width:40px;
	height:40px;
	color:white;
	font-size:30px;
	margin-right:13px;
}

#nit1{
	background:;
	margin-top:20px;
	width:40px;
	height:40px;
	color:white;
	font-size:30px;
	margin-right:13px;
}

#nit2{
	background:;
	margin-top:20px;
	width:40px;
	height:40px;
	color:white;
	font-size:30px;
	margin-right:13px;
}
#nit3{
	background:;
	margin-top:20px;
	width:40px;
	height:40px;
	color:white;
	font-size:30px;
	margin-right:13px;
}
#nit4{
	background:;
	margin-top:20px;
	width:40px;
	height:40px;
	color:white;
	font-size:30px;
	margin-right:13px;
}

#footer{
	background: #00008b;
	width:100%;
	height:85px;
	
}

#footer1 button{
	width:300px;
	height:50px;
	margin-top: 15px;
	color:white;
	font-weight:bold;
	border-radius: 15px;
	background: none;
	margin-left: -15px;
	border:0;

}

#ft{
	color:white;
	margin-left:600px;
}

#footer1 span{
	margin-right: 13px;
	
}
